@charset "UTF-8";

/* Estilo para tela */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(255, 249, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

article > p, article {
    margin: 10px;
}

header { 
    padding: 10px;
    background-color: rgb(255, 241, 197)
}

menu li {
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

menu li:hover {
    background-color: rgba(0, 0, 0, 0.219);
}