a {
    font-size: medium;
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
}
.centered {
    text-align: center;
}
.botoes {
    font-size:medium;
}
.titulo {
    font-family: Calibri;
    font-size: 30pt;
    color: #333333
}