* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#celular {
    position: absolute;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
iframe {
    position: absolute;
    margin: 75px 10px 10px 20px;
    height: 460px;
    width: 260px;
}
nav > div > a > img {
    position: relative;
    width: 50px;
    border-radius: 100%;
    left: 100vw;
    transform: translate(-120%);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.466);
    
}
nav > div > a > img:hover{
    transition: 2s;
    border: 1px solid white;
}
nav > div > a > img:hover {
    width: 55px;
    transition: 0.5s;
}
#home > a > img {
    top: 100px;
}
#youtube > a > img {
    top: 120px;
}
#github > a > img {
    top: 140px;
}
#instagram > a > img {
    top: 160px;
}
#twitter > a > img {
    top: 180px;
}
#facebook > a > img {
    top: 200px;
}
#botao_home > a > img {
    position: relative;
    margin: 540px 10px 15px 183px;
    width: 48px;
    border-radius: 100%;
    transform: translate(-120%);
    opacity: 0;
}
